# 依赖包
node_modules/
/dist
/dist-ssr

# 本地环境变量文件
.env
.env.local
.env.*.local

# 日志文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# 编辑器目录和文件
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# 操作系统生成的文件
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# 缓存和临时文件
.temp
.cache
.eslintcache
.stylelintcache
.vite

# 测试覆盖率报告
coverage/

# Cypress
cypress/videos/
cypress/screenshots/

# 可选: 构建工具特定文件
.nuxt
.nitro
.output
.vercel
.netlify
dist
dist-ssr

# 本地历史文件
.history/
.ionide

# 构建产物
*.tsbuildinfo 